@import pages/login
@import pages/signUp
@import pages/header
@import pages/events
@import pages/createEvent
@import pages/posts
@import pages/createPosts
@import pages/postRes
@import pages/group
@import pages/communication
@import pages/createGroup
@import pages/findGroup
@import pages/applyLeave
@import helpers/variables
@import helpers/globalNeeds



body
  font-family: $textFont
  background-color: $background
  position: relative
  min-height: 100%
  margin-top: 0px
  margin-right: 0px
  margin-left: 0px
  padding-top: 0px
  border-top-width: 10px

.headings
  margin: 0
  color: $darkColor

.mainHeading
  @extend .headings
  font-family: $headingFont
  font-size: 3em
  margin-left: 10%

.subHeading
  @extend .headings
  font-size: 0.8em
  margin-left: 10%

.inAppHeading
  @extend .headings
  text-align: center
  margin-bottom: 2%

.authErrorMsg
  @extend .subHeading
  color: red
  font-size: 1em
  margin-left: 0%

.authErrorMsgSignUp
  @extend .subHeading
  color: red
  font-size: 1em

.headingDiv
  margin-top: 5vh
  height: 30vh

.greeting
  color: $darkColor
  text-align: center
  font-size: 1.9em
  font-family: $headingFont
  width: 80%
  margin: auto
  margin-left: 10px

#greetingName
  margin-bottom: 5vh
  font-size: 1em

.buzzItem
  border: 2px solid $popOfColor
  border-radius: 5px
  margin-bottom: 5px

.buzzPostTime
  font-size: 0.8em
  color: $popOfColor
  text-align: right
  margin-right: 10px
  width: 40%
  float: right

.thing1
  color: $darkColor
  margin: 0
  margin-bottom: 3px

.thing2
  color: $popOfColor
  margin: 0
  margin-bottom: 20px

.posterName
  text-align: left
  color: $popOfColor
  font-size: 1em
  margin-left: 10px
  width: 40%

.buzzList
  text-align: center
  margin: auto
  width: 80%
  height: 70vh
  overflow-y: scroll
