.detsInput, .detsInputLast {
  width: 90%;
  background-color: #243757;
  border: none;
  border-bottom: 3px solid #cbcbcb;
  color: #666666;
  font-size: 1.5em;
  font-family: "Raleway", sans-serif; }

.detsInputLast {
  border-bottom: none; }

.accInputDiv {
  height: 35vh;
  margin-left: 10%; }

.header {
  height: 5vh;
  color: #cbcbcb;
  margin-top: 5%;
  width: 100%;
  text-align: center; }

.navItem {
  text-align: center;
  position: relative;
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%; }
  .navItem:hover {
    text-decoration: underline; }

::-webkit-input-placeholder {
  color: #666666;
  font-family: "Raleway", sans-serif; }

.allButtons, .bigButton, .smallButton, .createEventButton, .createPostButton {
  background-color: #243757;
  border: 5px solid #cbcbcb;
  padding: 0;
  color: #cbcbcb; }

.bigButton, .smallButton, .createEventButton, .createPostButton {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  width: 80%;
  height: 10vh;
  margin-left: 10%;
  margin-bottom: 3vh; }

.smallButton, .createEventButton, .createPostButton {
  width: 65%;
  margin-left: 17.5%;
  font-family: "Raleway", sans-serif;
  font-size: 1.3em;
  height: 7vh;
  margin-top: 5%; }

.event, .createEvent, .post, .createPost {
  text-align: center;
  margin: auto;
  border: 5px solid #cbcbcb;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Raleway", sans-serif;
  color: #cbcbcb;
  margin-bottom: 10px; }

.eventTitle {
  font-size: 1.7em; }

.eventDescription {
  font-size: 1.2em; }

.eventName {
  font-size: 1em;
  float: left;
  padding-bottom: 10px; }

.eventTime {
  font-size: 1em;
  float: right;
  padding-bottom: 10px; }

::-webkit-input-placeholder {
  color: #666666;
  font-family: "Raleway", sans-serif; }

.allButtons, .bigButton, .smallButton, .createEventButton, .createPostButton {
  background-color: #243757;
  border: 5px solid #cbcbcb;
  padding: 0;
  color: #cbcbcb; }

.bigButton, .smallButton, .createEventButton, .createPostButton {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  width: 80%;
  height: 10vh;
  margin-left: 10%;
  margin-bottom: 3vh; }

.smallButton, .createEventButton, .createPostButton {
  width: 65%;
  margin-left: 17.5%;
  font-family: "Raleway", sans-serif;
  font-size: 1.3em;
  height: 7vh;
  margin-top: 5%; }

.event, .createEvent, .post, .createPost {
  text-align: center;
  margin: auto;
  border: 5px solid #cbcbcb;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Raleway", sans-serif;
  color: #cbcbcb;
  margin-bottom: 10px; }

.eventTitle {
  font-size: 1.7em; }

.eventDescription {
  font-size: 1.2em; }

.eventName {
  font-size: 1em;
  float: left;
  padding-bottom: 10px; }

.eventTime {
  font-size: 1em;
  float: right;
  padding-bottom: 10px; }

.createEvent {
  padding-bottom: 30px; }

.createEventButtons, .createPostButtons, .createResButtons {
  color: #cbcbcb;
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  background-color: #243757;
  border: none; }

.detsInput.eventInput, .eventInput.detsInputLast {
  text-align: center;
  font-size: 1.3em; }

.leftButton {
  float: left; }

.rightButton {
  float: right; }

.postContent {
  font-size: 1.5em; }

.postedBy {
  font-size: 1.2em; }

.postedAt {
  font-size: 1em;
  float: right;
  padding-bottom: 10px; }

.postRespones {
  font-size: 1em;
  float: left;
  padding-bottom: 10px; }

.createPost {
  padding-bottom: 30px; }

.detsInput.postInput, .postInput.detsInputLast {
  text-align: center;
  font-size: 1.3em; }

.postResponses {
  margin-top: 5%;
  width: 80%;
  margin: auto; }

.createResButtons {
  margin-left: 60%;
  margin-bottom: 5%; }

::-webkit-input-placeholder {
  color: #666666;
  font-family: "Raleway", sans-serif; }

.allButtons, .bigButton, .smallButton, .createEventButton, .createPostButton {
  background-color: #243757;
  border: 5px solid #cbcbcb;
  padding: 0;
  color: #cbcbcb; }

.bigButton, .smallButton, .createEventButton, .createPostButton {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  width: 80%;
  height: 10vh;
  margin-left: 10%;
  margin-bottom: 3vh; }

.smallButton, .createEventButton, .createPostButton {
  width: 65%;
  margin-left: 17.5%;
  font-family: "Raleway", sans-serif;
  font-size: 1.3em;
  height: 7vh;
  margin-top: 5%; }

body {
  font-family: "Raleway", sans-serif;
  background-color: #243757;
  position: relative;
  min-height: 100%; }

.headings, .mainHeading, .subHeading, .authErrorMsg, .inAppHeading {
  margin: 0;
  color: #cbcbcb; }

.mainHeading {
  font-family: "Open Sans", sans-serif;
  font-size: 3em;
  margin-left: 10%; }

.subHeading, .authErrorMsg {
  font-size: 0.8em;
  margin-left: 10%; }

.inAppHeading {
  text-align: center;
  margin-bottom: 2%; }

.authErrorMsg {
  color: red;
  font-size: 1em; }

.headingDiv {
  margin-top: 5vh;
  height: 30vh; }

.greeting {
  color: #cbcbcb;
  text-align: center;
  font-size: 1.9em;
  font-family: "Open Sans", sans-serif;
  width: 80%;
  margin: auto;
  margin-left: 10px; }

#greetingName {
  margin-bottom: 5vh;
  font-size: 1em; }

.buzzItem {
  border: 2px solid #666666;
  border-radius: 5px;
  margin-bottom: 5px; }

.buzzPostTime {
  font-size: 0.8em;
  color: #666666;
  text-align: right;
  margin-right: 10px;
  width: 40%;
  float: right; }

.thing1 {
  color: #cbcbcb;
  margin: 0;
  margin-bottom: 3px; }

.thing2 {
  color: #666666;
  margin: 0;
  margin-bottom: 20px; }

.posterName {
  text-align: left;
  color: #666666;
  font-size: 1em;
  margin-left: 10px;
  width: 40%; }

.buzzList {
  text-align: center;
  margin: auto;
  width: 80%;
  height: 70vh;
  overflow-y: scroll; }

/*# sourceMappingURL=index.css.map */
