::-webkit-input-placeholder {
  color: #92b0bb;
  font-family: "Raleway", sans-serif; }

.searchdiv {
  margin: 5%; }

.resetSearch {
  margin: auto; }

.allButtons, .bigButton, .smallButton, .createXButton, .createEventButton, .createPostButton, .leaveRequestButton, .emergencyButton, .messageAdminsButton, .findGroupButton, .createGroupButton, .createAccountButton, .cancelSignUpButton, .loginButton, .signUpButton {
  background-color: #eeeeee;
  border: 5px solid #4d4242;
  padding: 0;
  color: #4d4242; }

.bigButton, .smallButton, .createXButton, .createEventButton, .createPostButton, .leaveRequestButton, .emergencyButton, .messageAdminsButton, .findGroupButton, .createGroupButton, .createAccountButton, .cancelSignUpButton, .loginButton, .signUpButton {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  width: 80%;
  height: 10vh;
  margin-left: 10%; }

.smallButton, .createXButton, .createEventButton, .createPostButton, .leaveRequestButton, .emergencyButton, .messageAdminsButton, .findGroupButton, .createGroupButton, .createAccountButton, .cancelSignUpButton {
  width: 65%;
  margin-left: 17.5%;
  font-family: "Raleway", sans-serif;
  font-size: 1.3em;
  height: 7vh;
  margin-top: 1%; }

.leftButton {
  float: left; }

.rightButton {
  float: right; }

.createXButtons, .createEventButtons, .resetSearch, .minuteSelect, .hourSelect, .monthSelect, .daySelect, .yearSelect, .selectParentGroup, .selectLeaveDays, .createPostButtons, .createGroupButtons, .createResButtons {
  color: #4d4242;
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  background-color: #eeeeee;
  border: none; }

.eventAttendanceButtons, .endCreateEventButton, .toggleButton, .changeLeaveButton, .goBackButton, .changeGroupButton {
  font-size: 0.8em;
  border: 2px dashed #92b0bb;
  border-style: dashed;
  border-radius: 3px;
  background-color: #eeeeee;
  margin: 1%; }

.endCreateEventButton {
  width: 50%;
  margin-left: 10%;
  margin-right: 10%; }

.toggleButton, .changeLeaveButton, .goBackButton, .changeGroupButton {
  margin: 2%;
  padding: 1%;
  border-radius: 5px;
  width: 30%; }

.changeLeaveButton {
  width: 70%; }

.goBackButton {
  color: black;
  border-color: black; }

.detsInput, .detsInputLast {
  width: 90%;
  background-color: #eeeeee;
  border: none;
  border-bottom: 3px solid #4d4242;
  color: #92b0bb;
  font-size: 1.5em;
  font-family: "Raleway", sans-serif; }

.detsInputLast {
  border-bottom: none; }

.accInputDiv {
  height: 35vh;
  margin-left: 10%; }

.loginButton {
  margin-bottom: 3vh; }

.signUpButton {
  margin-bottom: 3vh; }

.header {
  height: 5vh;
  color: #4d4242;
  margin: 0;
  width: 100%;
  background-color: #92b0bb;
  text-align: center;
  margin-bottom: 2%;
  position: fixed;
  height: 10vh;
  top: 0; }

.navItem {
  text-align: center;
  font-size: 1.3em;
  position: relative;
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0.8%; }
  .navItem:hover {
    text-decoration: underline; }

.adminHeader, .groupHeader {
  text-align: center;
  margin-bottom: 2%; }

.adminNavItem, .groupNavItem {
  text-align: center;
  font-size: 1em;
  display: inline-block;
  margin-left: 3%;
  margin-right: 3%;
  padding: 0.6%; }
  .adminNavItem:hover, .groupNavItem:hover {
    text-decoration: underline; }

::-webkit-input-placeholder {
  color: #92b0bb;
  font-family: "Raleway", sans-serif; }

.searchdiv {
  margin: 5%; }

.resetSearch {
  margin: auto; }

.event, .createEvent, .applyLeaveDiv, .messageAdminForm, .emergencyDiv, .post, .createPost, .group, .createGroup, .adminMessage, .adminLeaveRequest, .groupMemberName {
  text-align: center;
  margin: auto;
  border: 5px solid #4d4242;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Raleway", sans-serif;
  color: #4d4242;
  margin-bottom: 10px;
  border-radius: 5px; }

.eventTitle {
  font-size: 1.7em; }

.eventDescription {
  font-size: 1.2em; }

.eventName {
  font-size: 1em;
  float: left;
  padding-bottom: 10px;
  color: #92b0bb; }

.eventTime {
  font-size: 1em; }

.searchEvents {
  text-align: center;
  width: 90vw;
  margin: auto; }

.eventSorting {
  width: 10vw;
  margin-left: 45vw;
  margin-right: 45vw;
  margin-bottom: 1%; }

::-webkit-input-placeholder {
  color: #92b0bb;
  font-family: "Raleway", sans-serif; }

.searchdiv {
  margin: 5%; }

.resetSearch {
  margin: auto; }

.event, .createEvent, .applyLeaveDiv, .messageAdminForm, .emergencyDiv, .post, .createPost, .group, .createGroup, .adminMessage, .adminLeaveRequest, .groupMemberName {
  text-align: center;
  margin: auto;
  border: 5px solid #4d4242;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Raleway", sans-serif;
  color: #4d4242;
  margin-bottom: 10px;
  border-radius: 5px; }

.eventTitle {
  font-size: 1.7em; }

.eventDescription {
  font-size: 1.2em; }

.eventName {
  font-size: 1em;
  float: left;
  padding-bottom: 10px;
  color: #92b0bb; }

.eventTime {
  font-size: 1em; }

.searchEvents {
  text-align: center;
  width: 90vw;
  margin: auto; }

.eventSorting {
  width: 10vw;
  margin-left: 45vw;
  margin-right: 45vw;
  margin-bottom: 1%; }

.createEvent, .applyLeaveDiv, .messageAdminForm, .emergencyDiv {
  padding-bottom: 30px;
  margin-top: 1%; }

.detsInput.eventInput, .eventInput.detsInputLast {
  text-align: center;
  font-size: 1.3em; }

.dateTime {
  font-size: 0.8em;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 15%;
  margin: auto; }

.dateSelect {
  margin: 3%; }

.minuteSelect, .hourSelect, .monthSelect, .daySelect, .yearSelect, .selectParentGroup, .selectLeaveDays {
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1em;
  width: 20vw;
  margin-left: 2.5%;
  margin-right: 2.5%;
  background-color: #92b0bb; }

.selectParentGroup, .selectLeaveDays {
  width: 50%;
  font-size: 0.8em;
  margin-top: 2.5%;
  margin-bottom: 2.5%; }

.selectLeaveDays {
  font-size: 1em; }

.posts {
  margin-top: 9vh; }

.postContent, .adminMessageContent, .adminLeaveRequestReason {
  font-size: 1.2em; }

.postedBy, .adminMessageFrom, .adminLeaveRequestName {
  font-size: 1em; }

.postedAt, .adminMessageCreated {
  font-size: 0.8em;
  float: right;
  margin-left: 50%; }
  @media screen and (min-width: 499px) {
    .postedAt, .adminMessageCreated {
      margin-left: 63.5%;
      font-size: 1em; } }
  @media screen and (min-width: 768px) {
    .postedAt, .adminMessageCreated {
      margin-left: 70%;
      font-size: 1em; } }
  @media screen and (min-width: 768px) {
    .postedAt, .adminMessageCreated {
      margin-left: 75%;
      font-size: 1em; } }
  @media screen and (min-width: 1440px) {
    .postedAt, .adminMessageCreated {
      margin-left: 85%;
      font-size: 1.3em; } }

.postRespones, .adminMessageGroup, .adminLeaveRequestGroup {
  font-size: 1em;
  float: right;
  padding-bottom: 10px;
  color: #92b0bb; }

.alertTypePost {
  background-color: #FFC7C1;
  border-color: #92b0bb; }
  .alertTypePost input {
    background-color: #FFC7C1; }
  .alertTypePost button {
    background-color: #FFC7C1; }

.searchPosts {
  text-align: center;
  width: 90vw;
  margin: auto; }

.createPost {
  padding-bottom: 30px;
  margin-top: 1%; }

.createPostButtons {
  margin-top: 1%; }

.detsInput.postInput, .postInput.detsInputLast {
  text-align: center;
  font-size: 1.3em; }

.postTypeToggleButton {
  margin-left: 80%;
  margin-top: 1%; }

.postTypeToggleShow, .eventAttendanceButtons, .endCreateEventButton, .toggleButton, .changeLeaveButton, .goBackButton, .changeGroupButton {
  color: #92b0bb; }

.alertTypeToggleShow {
  color: red; }

.createPostEnter {
  margin-left: 20%;
  margin-right: 20%;
  font-size: 0.8em;
  border: 2px dashed #92b0bb;
  color: #92b0bb;
  border-style: dashed;
  border-radius: 3px;
  background-color: #eeeeee;
  width: 30%; }

.postResponses {
  margin: auto;
  margin-top: 5%;
  width: 100%;
  border: 2px dashed #92b0bb;
  border-style: dashed;
  padding-top: 5%;
  padding-bottom: 5%; }

.createResButtons {
  margin-bottom: 5%; }

.postResponseInput {
  margin-bottom: 15%; }

.responseName {
  color: #92b0bb; }

.responseContent {
  margin: 0px; }

.postResponse {
  margin: 1%; }

.group {
  padding: 0; }

.groupName {
  font-size: 1.5em;
  margin-top: 2%;
  margin-bottom: 1%; }

.groupMemberCount {
  font-size: 0.9em;
  margin: 3%;
  color: #92b0bb; }

.searchGroups {
  text-align: center;
  width: 90vw;
  margin: auto; }

.findGroupButton {
  margin-bottom: 1%; }

.createGroupButton {
  margin-bottom: 2.5%; }

.groupInput {
  text-align: center; }

.createGroup {
  padding-bottom: 30px;
  margin-top: 1%; }

.findGroup {
  margin-top: 9vh; }

.adminMessage, .adminLeaveRequest {
  margin-top: 3%;
  margin-bottom: 3%; }

.adminMessageGroup, .adminLeaveRequestGroup {
  float: left; }

.adminMessageCreated {
  margin: 0;
  margin-top: 1%; }

.unpinnedAdminMessagesHeader, .pinnedAdminMessagesHeader {
  text-align: center;
  font-size: 1.3em;
  margin: 3%;
  border-bottom: 3px solid #92b0bb;
  width: 40%;
  margin: auto; }

.messageAdminDets {
  margin-top: 3vh;
  margin-bottom: 3vh; }

.reasonForLeaveInput {
  margin: 4%; }

.contentDiv {
  margin-top: 11vh; }

body {
  font-family: "Raleway", sans-serif;
  background-color: #eeeeee;
  position: relative;
  min-height: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 0px;
  border-top-width: 10px; }

.headings, .mainHeading, .subHeading, .authErrorMsg, .authErrorMsgSignUp, .inAppHeading {
  margin: 0;
  color: #4d4242; }

.mainHeading {
  font-family: "Open Sans", sans-serif;
  font-size: 3em;
  margin-left: 10%; }

.subHeading, .authErrorMsg, .authErrorMsgSignUp {
  font-size: 0.8em;
  margin-left: 10%; }

.inAppHeading {
  text-align: center;
  margin-bottom: 2%; }

.authErrorMsg {
  color: red;
  font-size: 1em;
  margin-left: 0%; }

.authErrorMsgSignUp {
  color: red;
  font-size: 1em; }

.headingDiv {
  margin-top: 5vh;
  height: 30vh; }

.greeting {
  color: #4d4242;
  text-align: center;
  font-size: 1.9em;
  font-family: "Open Sans", sans-serif;
  width: 80%;
  margin: auto;
  margin-left: 10px; }

#greetingName {
  margin-bottom: 5vh;
  font-size: 1em; }

.buzzItem {
  border: 2px solid #92b0bb;
  border-radius: 5px;
  margin-bottom: 5px; }

.buzzPostTime {
  font-size: 0.8em;
  color: #92b0bb;
  text-align: right;
  margin-right: 10px;
  width: 40%;
  float: right; }

.thing1 {
  color: #4d4242;
  margin: 0;
  margin-bottom: 3px; }

.thing2 {
  color: #92b0bb;
  margin: 0;
  margin-bottom: 20px; }

.posterName {
  text-align: left;
  color: #92b0bb;
  font-size: 1em;
  margin-left: 10px;
  width: 40%; }

.buzzList {
  text-align: center;
  margin: auto;
  width: 80%;
  height: 70vh;
  overflow-y: scroll; }

/*# sourceMappingURL=index.css.map */
