.detsInput, .detsInputLast {
  width: 90%;
  background-color: #dedede;
  border: none;
  border-bottom: 3px solid #393939;
  color: #df8764;
  font-size: 1.5em;
  font-family: "Raleway", sans-serif; }

.detsInputLast {
  border-bottom: none; }

.accInputDiv {
  height: 35vh;
  margin-left: 10%; }

.loginButton {
  margin-bottom: 3vh; }

.signUpButton {
  margin-bottom: 3vh; }

.header {
  height: 5vh;
  color: #393939;
  margin: 0;
  padding-top: 2%;
  width: 100%;
  background-color: #df8764;
  text-align: center;
  margin-bottom: 2%;
  position: fixed;
  height: 5vh;
  top: 0; }

.navItem {
  text-align: center;
  font-size: 1.3em;
  position: relative;
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%; }
  .navItem:hover {
    text-decoration: underline; }

::-webkit-input-placeholder {
  color: #df8764;
  font-family: "Raleway", sans-serif; }

.allButtons, .bigButton, .loginButton, .signUpButton, .smallButton, .createAccountButton, .cancelSignUpButton, .createEventButton, .createPostButton, .findGroupButton, .createGroupButton {
  background-color: #dedede;
  border: 5px solid #393939;
  padding: 0;
  color: #393939; }

.bigButton, .loginButton, .signUpButton, .smallButton, .createAccountButton, .cancelSignUpButton, .createEventButton, .createPostButton, .findGroupButton, .createGroupButton {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  width: 80%;
  height: 10vh;
  margin-left: 10%; }

.smallButton, .createAccountButton, .cancelSignUpButton, .createEventButton, .createPostButton, .findGroupButton, .createGroupButton {
  width: 65%;
  margin-left: 17.5%;
  font-family: "Raleway", sans-serif;
  font-size: 1.3em;
  height: 7vh;
  margin-top: 1%; }

.event, .createEvent, .post, .createPost, .group, .createGroup {
  text-align: center;
  margin: auto;
  border: 5px solid #393939;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Raleway", sans-serif;
  color: #393939;
  margin-bottom: 10px; }

.eventTitle {
  font-size: 1.7em; }

.eventDescription {
  font-size: 1.2em; }

.eventName {
  font-size: 1em;
  float: left;
  padding-bottom: 10px;
  color: #df8764; }

.eventTime {
  font-size: 1em;
  float: right;
  padding-bottom: 10px; }

.createEventButton, .createPostButton, .findGroupButton, .createGroupButton {
  margin-bottom: 3vh; }

::-webkit-input-placeholder {
  color: #df8764;
  font-family: "Raleway", sans-serif; }

.allButtons, .bigButton, .loginButton, .signUpButton, .smallButton, .createAccountButton, .cancelSignUpButton, .createEventButton, .createPostButton, .findGroupButton, .createGroupButton {
  background-color: #dedede;
  border: 5px solid #393939;
  padding: 0;
  color: #393939; }

.bigButton, .loginButton, .signUpButton, .smallButton, .createAccountButton, .cancelSignUpButton, .createEventButton, .createPostButton, .findGroupButton, .createGroupButton {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  width: 80%;
  height: 10vh;
  margin-left: 10%; }

.smallButton, .createAccountButton, .cancelSignUpButton, .createEventButton, .createPostButton, .findGroupButton, .createGroupButton {
  width: 65%;
  margin-left: 17.5%;
  font-family: "Raleway", sans-serif;
  font-size: 1.3em;
  height: 7vh;
  margin-top: 1%; }

.event, .createEvent, .post, .createPost, .group, .createGroup {
  text-align: center;
  margin: auto;
  border: 5px solid #393939;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Raleway", sans-serif;
  color: #393939;
  margin-bottom: 10px; }

.eventTitle {
  font-size: 1.7em; }

.eventDescription {
  font-size: 1.2em; }

.eventName {
  font-size: 1em;
  float: left;
  padding-bottom: 10px;
  color: #df8764; }

.eventTime {
  font-size: 1em;
  float: right;
  padding-bottom: 10px; }

.createEventButton, .createPostButton, .findGroupButton, .createGroupButton {
  margin-bottom: 3vh; }

.createEvent {
  padding-bottom: 30px;
  margin-top: 1%; }

.createEventButtons, .createPostButtons, .createResButtons, .toggleButton, .selectParentGroup, .createGroupButtons {
  color: #393939;
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  background-color: #dedede;
  border: none; }

.detsInput.eventInput, .eventInput.detsInputLast {
  text-align: center;
  font-size: 1.3em; }

.leftButton {
  float: left; }

.rightButton {
  float: right; }

.postContent {
  font-size: 1.2em; }

.postedBy {
  font-size: 1em; }

.postedAt {
  font-size: 0.8em;
  float: right;
  margin-left: 50%; }
  @media screen and (min-width: 499px) {
    .postedAt {
      margin-left: 63.5%;
      font-size: 1em; } }
  @media screen and (min-width: 768px) {
    .postedAt {
      margin-left: 70%;
      font-size: 1em; } }
  @media screen and (min-width: 768px) {
    .postedAt {
      margin-left: 75%;
      font-size: 1em; } }
  @media screen and (min-width: 1440px) {
    .postedAt {
      margin-left: 85%;
      font-size: 1.3em; } }

.postRespones {
  font-size: 1em;
  float: right;
  padding-bottom: 10px;
  color: #df8764; }

.createPost {
  padding-bottom: 30px;
  margin-top: 1%; }

.createPostButtons {
  margin-top: 1%; }

.detsInput.postInput, .postInput.detsInputLast {
  text-align: center;
  font-size: 1.3em; }

.postResponses {
  margin-top: 5%;
  width: 80%;
  margin: auto; }

.createResButtons {
  margin-bottom: 5%; }

.postResponseInput {
  margin-bottom: 15%; }

.group {
  padding: 0; }

.groupName {
  font-size: 1.5em;
  margin-top: 2%;
  margin-bottom: 1%; }

.groupMemberCount {
  font-size: 0.9em;
  margin: 3%;
  color: #df8764; }

.groups, .events, .postPageDiv {
  margin-top: 9vh; }

.findGroupButton {
  margin-bottom: 1%; }

.createGroupButton {
  margin-bottom: 2.5%; }

.groupInput {
  text-align: center; }

.createGroup {
  padding-bottom: 30px;
  margin-top: 1%; }

.toggleButton, .selectParentGroup {
  border: 2px solid black;
  margin: 2%;
  background-color: #df8764;
  font-size: 1em;
  padding: 1%;
  width: 50%; }

::-webkit-input-placeholder {
  color: #df8764;
  font-family: "Raleway", sans-serif; }

.allButtons, .bigButton, .loginButton, .signUpButton, .smallButton, .createAccountButton, .cancelSignUpButton, .createEventButton, .createPostButton, .findGroupButton, .createGroupButton {
  background-color: #dedede;
  border: 5px solid #393939;
  padding: 0;
  color: #393939; }

.bigButton, .loginButton, .signUpButton, .smallButton, .createAccountButton, .cancelSignUpButton, .createEventButton, .createPostButton, .findGroupButton, .createGroupButton {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  width: 80%;
  height: 10vh;
  margin-left: 10%; }

.smallButton, .createAccountButton, .cancelSignUpButton, .createEventButton, .createPostButton, .findGroupButton, .createGroupButton {
  width: 65%;
  margin-left: 17.5%;
  font-family: "Raleway", sans-serif;
  font-size: 1.3em;
  height: 7vh;
  margin-top: 1%; }

body {
  font-family: "Raleway", sans-serif;
  background-color: #dedede;
  position: relative;
  min-height: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 0px;
  border-top-width: 10px; }

.headings, .mainHeading, .subHeading, .authErrorMsg, .inAppHeading {
  margin: 0;
  color: #393939; }

.mainHeading {
  font-family: "Open Sans", sans-serif;
  font-size: 3em;
  margin-left: 10%; }

.subHeading, .authErrorMsg {
  font-size: 0.8em;
  margin-left: 10%; }

.inAppHeading {
  text-align: center;
  margin-bottom: 2%; }

.authErrorMsg {
  color: red;
  font-size: 1em; }

.headingDiv {
  margin-top: 5vh;
  height: 30vh; }

.greeting {
  color: #393939;
  text-align: center;
  font-size: 1.9em;
  font-family: "Open Sans", sans-serif;
  width: 80%;
  margin: auto;
  margin-left: 10px; }

#greetingName {
  margin-bottom: 5vh;
  font-size: 1em; }

.buzzItem {
  border: 2px solid #df8764;
  border-radius: 5px;
  margin-bottom: 5px; }

.buzzPostTime {
  font-size: 0.8em;
  color: #df8764;
  text-align: right;
  margin-right: 10px;
  width: 40%;
  float: right; }

.thing1 {
  color: #393939;
  margin: 0;
  margin-bottom: 3px; }

.thing2 {
  color: #df8764;
  margin: 0;
  margin-bottom: 20px; }

.posterName {
  text-align: left;
  color: #df8764;
  font-size: 1em;
  margin-left: 10px;
  width: 40%; }

.buzzList {
  text-align: center;
  margin: auto;
  width: 80%;
  height: 70vh;
  overflow-y: scroll; }

/*# sourceMappingURL=index.css.map */
