.adminMessage, .adminLeaveRequest
  @extend .event
  margin-top: 3%
  margin-bottom: 3%

.adminMessageFrom, .adminLeaveRequestName
  @extend .postedBy

.adminMessageGroup, .adminLeaveRequestGroup
  @extend .postRespones
  float: left

.adminMessageContent, .adminLeaveRequestReason
  @extend .postContent

.adminMessageCreated
  @extend .postedAt
  margin: 0
  margin-top: 1%

.unpinnedAdminMessagesHeader, .pinnedAdminMessagesHeader
  text-align: center
  font-size: 1.3em
  margin: 3%
  border-bottom: 3px solid $popOfColor
  width: 40%
  margin: auto
