.leavediv


.applyLeaveDiv
  @extend .createEvent

.messageAdminForm
  @extend .createEvent

.emergencyDiv
  @extend .createEvent

.messageAdminDets
  margin-top: 3vh
  margin-bottom: 3vh

.changeLeaveButton
  @extend .toggleButton
  width: 70%

.reasonForLeaveInput
  margin: 4%
