.createPost
  @extend .event
  padding-bottom: 30px

.createPostButtons
  @extend .createEventButtons

.detsInput.postInput
  text-align: center
  font-size: 1.3em

.createPostButton
  @extend .createEventButton
