@import ../pages/events

.createEvent
  @extend .event
  padding-bottom: 30px
  margin-top: 1%

.createEventButtons
  @extend .createXButtons

.createEventButton
  @extend .createXButton

.detsInput.eventInput
  text-align: center
  font-size: 1.3em

.dateTime
  font-size: 0.8em
  margin-top: 2%
  margin-left: 10%
  margin-right: 15%
  margin: auto

.dateSelect
  margin: 3%

.minuteSelect, .hourSelect, .monthSelect, .daySelect, .yearSelect, .selectParentGroup
  @extend .createEventButtons
  border: 2px solid black
  border-radius: 5px
  font-size: 1em
  width: 20vw
  margin-left: 2.5%
  margin-right: 2.5%
  background-color: $popOfColor

.selectParentGroup
  width: 50%
  font-size: 0.8em
  margin-top: 2.5%
  margin-bottom: 2.5%

.selectLeaveDays
  @extend .selectParentGroup
  font-size: 1em
