.createPost
  @extend .event
  padding-bottom: 30px
  margin-top: 1%

.createPostButtons
  @extend .createEventButtons
  margin-top: 1%

.detsInput.postInput
  text-align: center
  font-size: 1.3em

.createPostButton
  @extend .createEventButton

.postTypeToggleButton
  margin-left: 80%
  margin-top: 1%

.postTypeToggleShow
  color: $popOfColor

.alertTypeToggleShow
  color: red




.createGroupButtons
  @extend .createEventButtons
