@import ../helpers/variables

.header
  height: 5vh
  color: $darkColor
  margin: 0
  width: 100%
  background-color: $popOfColor
  text-align: center
  margin-bottom: 2%
  position: fixed
  height: 10vh
  top: 0

.navItem
  text-align: center
  font-size: 1.3em
  position: relative
  display: inline-block
  margin-left: 5%
  margin-right: 5%
  &:hover
    text-decoration: underline
  padding: 0.8%
