@import ../helpers/variables

.detsInput
  width: 90%
  background-color: $background
  border: none
  border-bottom: 3px solid $darkColor
  color: $popOfColor
  font-size: 1.5em
  font-family: $textFont

.detsInputLast
  @extend .detsInput
  border-bottom: none

.accInputDiv
  height: 35vh
  margin-left: 10%

.createAccountButton
  @extend .smallButton

.loginButton
  @extend .bigButton
  margin-bottom: 3vh
