.post
  @extend .event

.postContent
  font-size: 1.5em

.postedBy
  font-size: 1.2em

.postedAt
  font-size: 0.8em
  float: right
  margin-left: 60%

.postRespones
  font-size: 1em
  float: right
  padding-bottom: 10px
