$navyColor: #243757
$lightGrey: #cbcbcb
$darkGrey: #666666

$mobileS: 320px
$mobileM: 375px
$mobileL: 425px
$tablet: 768px
$laptop: 1240px
$laptopL: 1440px

$textFont: 'Raleway', sans-serif
$headingFont: 'Open Sans', sans-serif
